[defaults]
collections_paths = ./collections:/usr/share/ansible/collections

[galaxy]
server_list = rh-certified_repo, validated_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=762ba6fb839096b1cb44c8e13bfd9b84ef61a882

[galaxy_server.validated_repo]
url=https://hub.lab.example.com/api/galaxy/content/validated/
token=762ba6fb839096b1cb44c8e13bfd9b84ef61a882
