[defaults]
collections_paths = ./collections:/usr/share/ansible/collections

[galaxy]
server_list = rh-certified_repo, validated_repo

[galaxy_server.rh-certified_repo]
url=https://hub.lab.example.com/api/galaxy/content/rh-certified/
token=8ce34aae0d23a05e6f4440bd2ee5683917c829dc

[galaxy_server.validated_repo]
url=https://hub.lab.example.com/api/galaxy/content/validated/
token=8ce34aae0d23a05e6f4440bd2ee5683917c829dc
